body{
    background-color: powderblue;
}
.container {
    width: 80%;

}
.input {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.form-example {
    width: 500px;
    margin: auto;
    background-color: burlywood;
}